@import "tailwindcss";
body {
  font-family: "Michroma", sans-serif;
}

@font-face {
  font-family: "stardock";
  src: url("/fonts/Stardock.ttf") format("truetype");
}
@theme {
  --color-white: #f6f5fa;
  --color-black: #2f2e2c;
  --font-stardock: "stardock";
}
::-webkit-scrollbar {
  display: none;
}
